*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    /* box-sizing: inherit; */
    font-family: sans-serif;
    background-color: #e9b872;
}

.container {
    height: 100vh;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.container button {
    padding: 1rem 2rem;
    font-size: 2rem;
    color: #FFFFFF;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    background-color: #b6370e;
}